<html lang="en-US">

<head>
    <title>User Data</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <script src='/libs/jquery/dist/jquery.min.js'></script>
    <script src='/libs/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

<body>
    <div class="container">
        <div class="d-flex flex-row justify-content-center">
            <h1 class="my-4">
                User Data in CSV format
            </h1>
        </div>
        <div class="d-flex flex-row justify-content-center my-3">
            <a download="users.csv" href="xml/download">download csv file</a>
        </div>
        <div>
            {{{ csvData }}}
        </div>
    </div>
</body>

</html>