<html lang="en-US">

<head>
    <title>User Data</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <script src='/libs/jquery/dist/jquery.min.js'></script>
    <script src='/libs/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

<body>
    <div class="container">
        <div class="d-flex flex-row justify-content-center">
            <h1 class="my-4">
                Names start with A
            </h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each namesStartWithA}}
                <tr>
                    <th>{{ id }}</th>
                    <td>{{ first_name }}</td>
                    <td>{{ last_name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ gender }}</td>
                    <td>{{ ip_address }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="d-flex flex-row justify-content-center">
            <h1 class="my-4">
                Names NOT start with A
            </h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each namesNotStartWithA}}
                <tr>
                    <th>{{ id }}</th>
                    <td>{{ first_name }}</td>
                    <td>{{ last_name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ gender }}</td>
                    <td>{{ ip_address }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>